<!DOCTYPE html>
<html lang="en" data-ng-app="app">
	<head>
		<meta charset="utf-8" />
		<title>新硬创粉丝节</title>
		<meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="css/animate.css" type="text/css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
		<link rel="stylesheet" href="css/simple-line-icons.css" type="text/css" />
		<link rel="stylesheet" href="css/font.css" type="text/css" />
		<link rel="stylesheet" href="css/app.css" type="text/css" />
	</head>
	<body ng-controller="AppCtrl">
		<div class="bg-light lter b-b wrapper-md">
			<h1 class="m-n font-thin h3">新硬创粉丝节</h1>
		</div>
		<div class="wrapper-md">
			<div ng-controller="FormDemoCtrl">
				<div class="row">
					<div class="col-sm-6">
						<form ng-submit="submit()" name="form-contact" class="form-validation">
							<div class="panel panel-default">
								<div class="panel-heading">
									<span class="h4">项目报名信息</span>
								</div>
								<div class="panel-body">
									<p class="text-muted">
										请填写以下信息
									</p>
									<div class="form-group pull-in clearfix">
										<div class="col-sm-6">
											<label>姓名*</label>
											<input name='name' type="text" class="form-control" required ng-model="contact.name">{{formName.name.$invalid}}
										</div>
										<div class="col-sm-6">
											<label>职务*</label>
											<input class="form-control" required ng-model="contact.position" >
										</div>
									</div>
									<div class="form-group">
										<label>公司名称*</label>
										<input class="form-control"  required ng-model="contact.companyName">
									</div>
									<div class="form-group">
										<label>电话*</label>
										<input type="number" class="form-control"  required ng-model="contact.phone">
									</div>
									<div class="form-group">
										<label>用户规模*</label>
										<input class="form-control"  required ng-model="contact.fansSize">
									</div>
									<div class="form-group">
										<label>微信号*</label>
										<input class="form-control"  required ng-model="contact.wechatId">
									</div>
									<div class="form-group">
										<label>产品名称及特色（精简介绍）*</label>
										<textarea class="form-control" rows="6" required ng-model="contact.projectDescription"></textarea>
									</div>
								</div>
								<footer class="panel-footer text-right bg-light lter">
									<button id="submit" type="submit" class="btn btn-success">
										提交
									</button>
								</footer>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- jQuery -->
		<script src="js/jquery/jquery.min.js"></script>
		<!-- Angular -->
		<script src="js/libs/angular/angular.min.js"></script>
		<script src="js/libs/angular/cookies-animate-uirouter-ngStorage-ocLazyLoad-ui-bootstrap-tpls.js"></script>
		<script src="js/angular/angular-translate.js"></script>
		<script src="js/angular/ui-jq.js"></script>
		<script src="js/angular/ui-load.js"></script>
		<script src="js/angular/ui-validate.js"></script>
		<!-- App -->
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>
		<!-- Lazy loading -->
	</body>
</html>